<%= month_calendar(attribute: :date_time, events: @plans) do |date, plans| %>
  <%= date.day %>
  
  <% plans.each do |plan| %>
    <div>
      <%= link_to plan.title, plan %>
    </div>
  <% end %>
<% end %>